<launch>
  <arg name="serial_no_camera1"    			default="126122270615"/> 			<!-- Note: Replace with actual serial number -->
  <arg name="serial_no_camera2"    			default="127122270224"/> 			<!-- Note: Replace with actual serial number -->
  <!-- <arg name="serial_no_camera3"    			default=""/> --> 			
  <!-- Note: Replace with actual serial number --> 
  <arg name="camera1"              			default="camera1"/>		<!-- Note: Replace with camera name -->
  <arg name="camera2"              			default="camera2"/>		<!-- Note: Replace with camera name -->
  <!-- <arg name="camera3"              			default="camera3"/>		 -->
  <!-- Note: Replace with camera name -->
  <arg name="tf_prefix_camera1"         default="$(arg camera1)"/>
  <arg name="tf_prefix_camera2"         default="$(arg camera2)"/>
  <!-- <arg name="tf_prefix_camera3"         default="$(arg camera3)"/> -->
  <arg name="initial_reset"             default="false"/>
  <arg name="reconnect_timeout"         default="6.0"/>

<!--   <arg name="color_width"         default="1280"/>
  <arg name="color_height"        default="720"/>
  <arg name="enable_color"        default="true"/>
  <arg name="depth_width"         default="1280"/>
  <arg name="depth_height"        default="720"/>
  <arg name="enable_depth"        default="true"/>
  <arg name="depth_fps"           default="30"/>
  <arg name="color_fps"           default="30"/> -->

  <group ns="$(arg camera1)">
    <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
      <arg name="serial_no"             value="$(arg serial_no_camera1)"/>
      <arg name="tf_prefix"         		value="$(arg tf_prefix_camera1)"/>
      <arg name="initial_reset"         value="$(arg initial_reset)"/>
      <arg name="reconnect_timeout"     value="$(arg reconnect_timeout)"/>
      <arg name="color_width"         default="1280"/>
      <arg name="color_height"        default="720"/>
      <arg name="enable_color"        default="true"/>
      <arg name="depth_width"         default="1280"/>
      <arg name="depth_height"        default="720"/>
      <arg name="enable_depth"        default="true"/>
      <arg name="depth_fps"           default="30"/>
      <arg name="color_fps"           default="30"/>

    </include>
  </group>

  <group ns="$(arg camera2)">
    <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
      <arg name="serial_no"             value="$(arg serial_no_camera2)"/>
      <arg name="tf_prefix"		          value="$(arg tf_prefix_camera2)"/>
      <arg name="initial_reset"         value="$(arg initial_reset)"/>
      <arg name="reconnect_timeout"     value="$(arg reconnect_timeout)"/>
      <!-- <arg name="color_width"         default="848"/>
      <arg name="color_height"        default="720"/>
      <arg name="enable_color"        default="true"/>
      <arg name="depth_width"         default="848"/>
      <arg name="depth_height"        default="720"/>
      <arg name="enable_depth"        default="true"/>
      <arg name="depth_fps"           default="5"/>
      <arg name="color_fps"           default="5"/> -->
    </include>
  </group>

<!--   <group ns="$(arg camera3)" if="$(eval serial_no_camera3 != '')">
    <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
      <arg name="serial_no"             value="$(arg serial_no_camera3)"/>
      <arg name="tf_prefix"		          value="$(arg tf_prefix_camera3)"/>
      <arg name="initial_reset"         value="$(arg initial_reset)"/>
      <arg name="reconnect_timeout"     value="$(arg reconnect_timeout)"/>
    </include>
  </group> -->

  <rosparam>
    /camera1/rgb_camera/enable_auto_exposure: false
    /camera1/stereo_module/enable_auto_exposure: false
    /camera2/rgb_camera/enable_auto_exposure: false
    /camera2/stereo_module/enable_auto_exposure: false
  </rosparam>

</launch>
